.updatePassword {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.updatePasswordForm {
  display: flex;
  flex-direction: column;
}

.updatePasswordInput {
  height: 50px;
  width: 90%;
  /* border-radius: 10px;
      border: 1px solid gray; */
  border: none;
  border-bottom: 1px solid gray;
  /* font-size: 18px; */
  padding-left: 20px;
  margin-bottom: 20px;
}

.updatePasswordInput:focus {
  outline: none;
  border-bottom: 2px solid #2c81ef;
}

.submitBtn {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
